   /*CSS語法註解的寫法*/
        /*把網頁所有標簽移動到這裡，集中整理*/
        /*".名稱"叫做Class選擇器(先命名然後套用到下方class的對應名稱中)*/
        /*font-family選擇字體*/
        .all{background-color:#ccc;font-family:"微軟正黑體","新細明體"}
        .title {
            color:green;
            font-size:24px;
            font-weight:bold
                             }
        .content {margin-top:10px;
                  border:1px solid red;
                  padding:10px
                                 }
        .keyword {color:red}
        /*text-decoration(文字裝飾)*/
        .underline{text-decoration:underline}
        /*"#del"叫做ID選擇器*/
        /*line-through從文字中間穿過*/
        #del{text-decoration:line-through}
        /*標籤名稱選擇器*/
        /*對所有span作用後方CSS語法*/
        span{font-wight:bold}